* {
  box-sizing: border-box;
  color: #3C4342;
}

body {
  background-color: #F1EEE9;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: #125B50;
  text-align: center;
}

.MuiTextField-root input {
  font-family: Quicksand, sans-serif;
  color: #125B50;
}

#input-label-top-color {
  color: #125B50;
  background-color: white; /* Adjust the color as needed */
  padding-right: 3px;
}

.MuiTextField-root .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #E1A400;
}

.MuiTextField-root .MuiInputLabel-root.Mui-focused {
  color: #125B50;
}

.MuiFormControl-root.Mui-focused .MuiOutlinedInput-notchedOutline,
.MuiFormControl-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #E1A400 !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #E1A400 !important;
}


@font-face {
  font-family: 'Bright';
  src: url('./fonts/Bright DEMO.otf') format('opentype');
  /* Add more src lines for different font file formats (e.g., woff, woff2) if available */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Beachfly';
  src: url('./fonts/Beachfly.ttf') format('truetype');
}

@font-face {
  font-family: 'Eyez';
  src: url('./fonts/Eyez.ttf') format('truetype');
}

#sort-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

.custom-button {
  color: #125B50;
  background: transparent;
  border: none;
  transition: transform .3s;  
  margin: 5px;
}

.custom-button:hover {
  color: pink !important;
  cursor: pointer;
  transform: scale(1.1);
}

.custom-button:active,
.custom-button:focus 
{
  color: orange !important;
  /* transform: scale(1.5); */
  /* font-style: italic; */
}

#quick-view-button {
  font-family: 'Eyez';
  font-size: 3rem;
}

#quick-view-button:hover {
  transform: scale(1.4);
}

#sort-by-cost-button {
  font-family: 'Beachfly';
  height: 50px;
  width: 6rem;
  border-radius: 40%;
  /* background-color: #125B50;
  color: white; */
}

#sort-alphabetically-button {
  font-family: 'Bright';
  font-size: 2.5rem;
  height: 50px;
  width: 6rem;
  border-radius: 40%;
  /* background-color: #125B50;
  color: white; */
}

#reset-button {
  /* font-family: 'Bright'; */
  font-family: 'Bright';
  font-size: 2.75rem;
  border: none;
  background-color: white;
  color: #125B50;
  margin-top: 10px;
}

#reset-button:hover {
  color: pink !important;
  cursor: pointer;
  /* transform: scale(1.4); */
}


a {
  color: inherit;
  text-decoration: none;
  /* font-weight: bold; */
}

nav li:hover {
  color: #E85F5F;
  text-decoration: underline;
  text-decoration-color: #E1A400;
}

/* NAVIGATION: Top bar */

.nav {
  background-color: #F1EEE9;
  height: 6.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: solid green 2px; */
  gap: 2rem;
  /* padding: .5rem; */
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav ul {
  list-style: none;
  text-align: right;
}

.nav li {
  color: #125B50;
  font-size: 18px;
  margin-right: 2rem;
  font-weight: 500;
}

#user-nav-pic {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  cursor: pointer;
}

.site-title {
  font-size: 5rem;
  font-family: 'Bright';
  color: #125B50;
  /* border: solid 2px pink; */
}

/* NAVIGATION: Activity bar */

.activity-nav {
  display: flex;
  height: 2rem;
  align-items: center;
  flex: 2;
  font-family: 'Bright';
  /* border: 2px solid purple; */
}

#all-nav-link {
  font-size: 3rem;
}

.activity-nav .active {
  color: #E85F5F;
  text-decoration: underline;
  text-decoration-color: orange;
}

.activity-nav ul {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  gap: 1rem;
  padding-left: 2rem;
  /* border: solid 2px black; */
}
/*** LOGIN PAGE ***/

#display-profile-container {
  display: flex;
  justify-content: center;
  /* border: 2px solid pink; */
}


/* #display-profile-container {
  width: 85rem;
  height: 30rem;
  display: flex;
  justify-content: center;

  align-items: center;

  border: 2px solid orange;
  
} */

#profile-picture-bio-div {
  width: 20rem;
  margin: 5px;
  /* border: 2px solid green; */
}

#profile-interested {
  width: 15rem;
  /* border: 2px solid blue; */
  overflow: auto;
  padding-top: 10px;
  margin: 5px;
  padding: 15px;
  max-height: 34rem;

}

#profile-visited {
  width: 15rem;
  /* border: 2px solid gray; */
  overflow: auto;
  padding-top: 10px;
  margin: 5px;
  padding: 15px;
  max-height: 34rem;

}

#profile-likes {
  width: 15rem;
  /* border: 2px solid red; */
  overflow: auto;
  padding-top: 10px;
  margin: 5px;
  max-height: 34rem;

}

#public-profile-likes {
  width: 98px;
  height: 90px;
  /* border: 2px solid blue; */
}

#public-profile-interested {
  width: 75px;
  height: 90px;
  /* border: 2px solid blue; */
}

#public-profile-visited {
  width: 63px;
  height: 90px;
  /* border: 2px solid blue; */
}

#public-profile-name {
  font-family: 'Bright';
  font-size: 4rem;
  /* color: #E1A400; */
  color: #125B50;

  font-weight: normal;
  margin: 0;
  padding: 0;
}

#login-signup-container-div {
  display: flex;
  justify-content: center;
  /* border: 2px solid pink; */
}

#login-signup-paper {
  width: 85rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 2px solid orange; */
}

#login-signup-page-form{
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-pic{
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin-right: 30px;
  margin-bottom: 20px;
}

#signup-pic{
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin-right: 30px;
  margin-bottom: 60px;
}

#edited-profile-popup-link {
  color: #125B50;
  font-weight: 600;
}

#edited-profile-popup-link:hover {
  color: #E85F5F;
  text-decoration: underline;
  text-decoration-color: #E1A400;
}

/*** EDIT PROFILE PAGE  ***/
#main-edit-profile-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  /* border: 5px solid rgb(162, 15, 133); */
}

#edit-profile-paper {
  width: 30rem;
  /* border: 2px solid blue; */
}

#edit-activity-container {
  display: flex; 
  justify-content: center;
  /* border: 2px solid pink;  */
}

#edit-activity-paper {
  width: 75%;
  /* border: 2px solid red; */
}

#profile-picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 0;
  padding-bottom: 0;
}

#nav-button-interest {
  height: 70px;
  width: 70px;
  /* background-color: transparent; */
}

#nav-button-visit {
  height: 70px;
  width: 70px;
  /* background-color: transparent; */
}

#activity-picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 0;
  padding-bottom: 0;
}

#edit-profile-username-h1 {
  margin-bottom: 10px;
  color: #125B50;
}

#interests-paper {
  margin-left: 5px;
  width: 40rem;
}

#interests-h4 {
  text-align: left;
  margin-left: 10px;
  margin-bottom: 5px;
}

#interest-search-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#profile-picture-public {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

#scrollable-interests {
  /* border: 2px solid blue; */
  overflow: auto;
  max-height: 200px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 10px;
}

#individual-interest-buttons {
  /* border: 2px solid yellow; */
  width: fit-content;
  margin: 2px;
}

/* ACTIVITIES PAGE */

.activities-page-container {
  display: flex;
  /* position: relative; */
  /* border: 2px solid brown; */
  align-items: stretch;
  margin-bottom: 20px;
  justify-content: center;
  /* height: fit-content; */
  height: 83vh;
}

/* Parent of PopUp & .individual-activity */
.activities-list-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  /* border: solid pink 2px; */
  /* position: relative; */
  padding-left: 20px;
  /* margin-left: 10px; */
  /* margin-right: 20px; */
  width: 80rem;
  overflow: auto;
  margin-right: 20px;
  margin-left: 10px;
  /* padding-left: 20px; */

}

/* INTERESTED & VISITED PAGES */
.activities-list-container .empty-interested-visited {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 0 auto; 
  margin-bottom: 100px;
}

.activity-search-container {
  /* border: 2px solid orange; */
  width: 20rem;
  margin-left: 20px;
}
.sort-bar {
  /* border: 3px solid grey; */
  text-align: left;
  align-items: center;
}

.individual-activity {
  /* border: solid blue 2px; */
  /* min-height: 200px; */
  width: 250px;
  align-items: center;
  margin: 8px;
  padding-bottom: 20px;
}

.individual-activity h1 {
  font-weight: 400;
  font-size: 25px;
}

.individual-activity h2 {
  font-weight: 300;
  font-size: 18px;
}

#activity-card-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 10px;
  margin-top: 15px;
}

/* MAIN CONTAINER - no CSS*/
.popup-card {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 95vh;
  /* border: 3px solid #125B50; */
  position: absolute;
  top: 6rem;
  right: 0;
  height: 85vh;
  /* overflow: auto; */
  z-index: 1;
}

.popup-card-content {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* border: 5px solid black; */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: 9999; /* Ensure the overlay is above other elements */
}

#photo-and-current-user-buttons {
  /* border: 2px solid red; */
  margin-right: 20px;
  margin-top: 30px;
}

#popup-card-activity-info {
  /* border: 2px solid purple; */
  /* overflow: auto; */
  height: 50vh;
  margin-bottom: 20px; 
  margin-top: 20px;
}

#other-users-div {
  display: flex;
  justify-content: center;
  /* border: 2px solid blue; */
  /* overflow: auto;
  height: 27vh; */
}

#other-users-expanded {
  /* border: 2px solid gray; */
  overflow: auto;
  height: 27vh;
  width: 20vh;
}

#x-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 60px; */
  height: 50px;
  /* width: 100%; */
  width: 95vh;
  position: fixed;
  bottom: 20px;
  /* border: 2px solid yellow; */
  background-color: #125B50;
  font-family: 'Bright';
  /* z-index: 999; */
} 

#x-button-div h2{
  color: white !important;
  font-size: 3rem;
  font-weight: normal;
  transition: transform .3s;  

  /* position: relative; */
  /* z-index: 1000; */
} 

#x-button-div h2:hover{
  cursor: pointer;
  transform: scale(1.1); 
} 

#activity-title-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 100px;
  /* border: 2px solid orange; */
  background-color: #125B50;
  font-family: 'Bright';
} 

#activity-title-popup h2{
  color: white !important;
  font-size: 3.5rem;
  font-weight: normal;
} 

.interest-icon {
  width: 25px;
  height: 30px;
}

.not-visited-icon {
  width: 19.6px;
  height: 30px;
}

.visited-icon {
  width: 21px;
  height: 30px;
}

.website-icon {
  height: 30px;
  width: 29.25px;
}

.who-buttons {
  height: 80px;
  width: 80px;
}

.generic-user-image {
  height: 15px;
  width: 15px;
}

/* LOGIN PAGE */

#login-form label{
  color: red;
  display: center;
  align-items: center;
}

#login-footer {
  position: absolute;
  bottom: 0px;
  /* object-position: left bottom; */
  border: 1px solid red;
  /* margin-bottom: 0px; */
  padding: 0px;
}

.login-welcome-div{
  text-align: center;
  border: 3px solid #E1A400;
  margin-right: 18rem;  
  margin-left: 18rem;
  margin-bottom: 5rem !important;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  overflow: scroll;
}

#login-header-whats-happening {
  font-size: 3rem;
  font-weight: 400;
  color: #E85F5F;
}

.welcome-sentences {
  margin-top: 2rem;
  font-weight: 200;
}
