* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Bright';
  src: url('./fonts/Bright DEMO.otf') format('opentype');
  /* Add more src lines for different font file formats (e.g., woff, woff2) if available */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Beachfly';
  src: url('./fonts/Beachfly.ttf') format('truetype');
}

@font-face {
  font-family: 'Eyez';
  src: url('./fonts/Eyez.ttf') format('truetype');
}

.custom-button {
  color: #125B50;
  background: white;
  border: none;
  transition: transform .3s;
}

.custom-button:hover {
  color: pink;
  cursor: pointer;
}

.custom-button:active,
.custom-button:focus 
{
  color: orange;
  transform: scale(1.5);
  /* font-style: italic; */
}

#quick-view-button {
  font-family: 'Eyez';
  font-size: 3rem;
}

#sort-by-cost-button {
  font-family: 'Beachfly';
  margin-top: 10px;
  margin-bottom: 5px;
}

#sort-alphabetically-button {
  font-family: 'Bright';
  font-size: 2.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

body {
  background-color: #F1EEE9;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: #125B50;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
  /* font-weight: bold; */
}

nav li:hover {
  color: #E85F5F;
  text-decoration: underline;
  text-decoration-color: #E1A400;
}

#footer-image {
  /* border: 1px solid blue; */
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
}

/* NAVIGATION: Top bar */

.nav {
  background-color: #F1EEE9;
  height: 7rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: solid green 2px; */
  gap: 2rem;
  padding: 1rem;
}

.nav ul {
  list-style: none;
  text-align: right;
}

.nav img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  cursor: pointer;

}

.site-title {
  font-size: 5rem;
  font-family: 'Bright';
  /* border: solid 2px pink; */
}

/* NAVIGATION: Activity bar */

.activity-nav {
  display: flex;
  /* border: solid blue 2px; */
  height: 2rem;
  align-items: center;
  flex: 10;
}

.activity-nav .active {
  color: #E85F5F;
  text-decoration: underline;
  text-decoration-color: #E1A400;
}

.activity-nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  /* border: solid 2px black; */
}


/*** EDIT PROFILE PAGE  ***/
#main-edit-profile-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  /* border: 5px solid rgb(162, 15, 133); */
}

#edit-profile-paper {
  width: 30rem;
}

#edit-activity-container {
  display: flex; 
  justify-content: center;
  /* border: 2px solid pink;  */
}

#edit-activity-paper {
  width: 75%;
  border: 2px solid red;
}

#profile-picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 0;
  padding-bottom: 0;
}

#activity-picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 0;
  padding-bottom: 0;
}

#edit-profile-username-h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

#edit-profile-bio-p {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 10px;
}

#interests-paper {
  margin-left: 5px;
  width: 40rem;
}

#interests-h4 {
  text-align: left;
  margin-left: 10px;
  margin-bottom: 5px;
}

#interest-search-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#scrollable-interests {
  /* border: 2px solid blue; */
  overflow: auto;
  max-height: 200px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 10px;
}

#your-interests-container {
  /* border: 2px solid green; */
  overflow: auto;
  max-height: 200px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 10px;
}

#individual-interest-buttons {
  /* border: 2px solid yellow; */
  width: fit-content;
  margin: 2px;
}

/* ACTIVITIES PAGE */

.activities-page-container {
  display: flex;
  /* border: 2px solid brown; */
  align-items: stretch;
  margin-bottom: 20px;
  justify-content: center;
  height: fit-content;
}

/* Parent of PopUp & .individual-activity */
.activities-list-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  /* border: solid pink 2px; */
  margin-left: 10px;
  margin-right: 20px;
  position: relative;
  width: 80rem;
}

.activity-search-container {
  /* border: 3px solid orange; */
  width: 20rem;
  margin-left: 20px;
}

.sort-bar {
  /* border: 3px solid grey; */
  text-align: left;
  align-items: center;
}

.individual-activity {
  /* border: solid blue 2px; */
  /* min-height: 200px; */
  width: 250px;
  align-items: center;
  margin: 5px;
  padding-bottom: 20px;
}

#activity-card-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 10px;
}

.popup-card {
  width: 500px;
  border: solid rgb(17, 173, 114) 2px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: fit-content;
}

/* LOGIN PAGE */

#login-form label{
  color: red;
  display: center;
  align-items: center;
}

#login-footer {
  position: absolute;
  bottom: 0px;
  /* object-position: left bottom; */
  border: 1px solid red;
  /* margin-bottom: 0px; */
  padding: 0px;
}

.login-welcome-div{
  text-align: center;
  border: 3px solid #E1A400;
  margin-right: 18rem;  
  margin-left: 18rem;
  margin-bottom: 5rem !important;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  overflow: scroll;
}

#login-header-whats-happening {
  font-size: 3rem;
  font-weight: 400;
  color: #E85F5F;
}

.welcome-sentences {
  margin-top: 2rem;
  font-weight: 200;
}
