* {
  box-sizing: border-box;
}

body {
  background-color: #F1EEE9;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #125B50;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

nav li:hover {
  color: #E85F5F;
  text-decoration: underline;
  text-decoration-color: #E1A400;
}

#footer-image {
  border: 1px solid blue;
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
}

/* NAVIGATION: Top bar */

.nav {
  background-color: #F1EEE9;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid green 2px;
  gap: 2rem;
  padding: 1rem;
}

.nav ul {
  list-style: none;
  text-align: right;
}

.nav img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 2rem;
}

.site-title {
  font-size: 3rem;
}

/* NAVIGATION: Activity bar */

.activity-nav {
  display: flex;
  border: solid blue 2px;
  height: 2rem;
  align-items: center;
}

.activity-nav .active {
  color: #E85F5F;
  text-decoration: underline;
  text-decoration-color: #E1A400;
}

.activity-nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  border: solid 2px black;
}

/* ACTIVITIES PAGE */

.activities-page-container {
  display: flex;
  border: 2px solid brown;
}

.activity-search-container {
  border: 3px solid orange;
  flex: .5;
}

.activities-list-container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
  /* max-width: 1000px; */
  border: solid pink 2px;
  margin: auto;
}

.individual-activity {
  border: solid blue 2px;
  min-height: 200px;
  width: 200px;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-bottom: 20px;

}

/* LOGIN PAGE */

#login-form label{
  color: red;
  display: center;
  align-items: center;
}

#login-footer {
  position: absolute;
  bottom: 0px;
  /* object-position: left bottom; */
  border: 1px solid red;
  /* margin-bottom: 0px; */
  padding: 0px;
}

.login-welcome-div{
  text-align: center;
  border: 3px solid #E1A400;
  margin-right: 18rem;  
  margin-left: 18rem;
  margin-bottom: 5rem !important;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  overflow: scroll;
}

#login-header-whats-happening {
  font-size: 3rem;
  font-weight: 400;
  color: #E85F5F;
}

.welcome-sentences {
  margin-top: 2rem;
  font-weight: 200;
}
